[alias]
	co = checkout
[credential]
	helper = osxkeychain
[user]
	name = Matthew Moulton
[push]
	default = simple
[core]
	commentchar = "$"
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
