/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, colgroup, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* $base03:    #002b36; */
/* $base02:    #073642; */
/* $base01:    #586e75; */
/* $base00:    #657b83; */
/* $base0:     #839496; */
/* $base1:     #93a1a1; */
/* $base2:     #eee8d5; */
/* $base3:     #fdf6e3; */
/* $yellow:    #b58900; */
/* $orange:    #cb4b16; */
/* $red:       #dc322f; */
/* $magenta:   #d33682; */
/* $violet:    #6c71c4; */
/* $blue:      #268bd2; */
/* $cyan:      #2aa198; */
/* $green:     #859900; */

body {
    background-color: #fdf6e3;
    color: #586e75;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.15em;
    margin: 50px auto;
    max-width: 700px;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-align: left;
}

h1, h2 {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, ul, p, table {
    margin-top: 1em;
}

ul, p, table {
    margin-left: 2em;
}

a {
    color: #b58900;
}

blockquote {
    white-space: pre;
}

blockquote > p {
	margin-top: 0;
}

code {
    background-color: #eee8d5;
}

li:before {
    content: '• ';
}

table {
    background-color: #eee8d5;
    border: 0;
    padding: 1ex 1em;
}

th, td {
    padding: 0 1em;
}

th {
    font-weight: bold;
    padding-bottom: 1em;
}

#postamble {
    margin-top: 2em;
}

#postamble p {
    margin: 0;
}
